@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');



@font-face {
    font-family: "circularStd";
    src: url("./src/font/circular-std-medium-500.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono", monospace;
}

body {
    height: 100%;
    width: 100%;
    background-color: #100420;
    background-image: url(./src/img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3%;
    width: 100%;
    height: 15%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 25%;
    width: 35%;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.25);
    border: 2px solid rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);


}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: auto;
    color: white;
    padding-inline: 5%;
    gap: 10rem;
    overflow: hidden;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 12rem;
}

.hero .text-content {
    display: flex;
    flex-direction: column;
    gap: 42px;
    width: 1000px;
}

.text-content h1 {
    font-size: 2.5rem;
}

.text-content span {
    font-size: 1.5rem;
}

.text-content .options {
    display: flex;
    gap: 1.4rem;
    height: 45px;
}

.options a {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 8rem;
    border-radius: 45px;
    z-index: 0;
}

.options span {
    position: absolute;
    font-size: 18px;
    z-index: 999;
}

.options a:first-child {
    background-color: black;
    box-shadow: inset 0px -4px 5px 0px rgba(255, 255, 255, 0.46);
}

.options a .github-effect {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000;
    filter: blur(2px);
    z-index: -999;
    border-radius: 45px;
}

.options a:nth-child(2) {
    background-color: #0084FF;
    box-shadow: inset 0px -4px 5px 1px rgba(255, 255, 255, 0.792);
}

.options a .linkedin-effect {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0084FF;
    filter: blur(2px);
    z-index: -999;
    border-radius: 45px;
}

.options a:last-child {
    background-color: #FFFFFF;
    box-shadow: inset 0px -4px 5px 0px rgba(0, 0, 0, 0.557);
    color: black;
}

.options a .gmail-effect {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    filter: blur(2px);
    z-index: -999;
    border-radius: 45px;
}

.hero img {
    width: 30%;
    border-radius: 400px;
    border: 2px solid rgb(255, 255, 255);

}

.stacks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 100%;
    height: 30rem;
}

.stacks-list {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.bg-text span {
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 633px;
background: linear-gradient(226.28deg, #6315B7 25.56%, #000000 85.4%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}

.bg-text {
    width: 100%;
    min-height: 100%;
}

.text-gradient {
    position: relative;
    left: 24%;
}

.projects {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 1000px;
}

.frame {
    position: absolute;
    width: 316px;
    height: 273px;
    left: 238px;
    top: 1046px;
    overflow: hidden;
    border-radius: 20px;

}

.frame .gradient1 {

    position: absolute;
    width: 408px;
    height: 164px;
    left: -69px;
    top: 117px;

    background: #5B15B7;
    filter: blur(50px);
}

.frame .gradient2 {
    position: absolute;
    width: 351px;
    height: 127px;
    left: -32px;
    top: 217px;
    transition: 1s;
    background: #FFFFFF;
    filter: blur(50px);
}

.frame .gradient3 {

    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 21px;
    box-shadow: inset 0 0 5px 2px white;
    transition: 0.5s;
}

.frame:hover .gradient3 {
    box-shadow: inset 0 0 10px 2px white;
}

.frame:hover .gradient2 {
    left: -10px;
    top: 100px;
}

.frame2 {
    box-sizing: border-box;

    position: absolute;
    width: 316px;
    height: 273px;
    left: 614px;
    top: 1046px;
    overflow: hidden;
    border-radius: 20px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.frame2 .gradient1 {
    position: absolute;
    width: 463px;
    height: 273px;
    left: -47px;
    top: 98px;

    background: #5B15B7;
    filter: blur(50px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.frame2 .gradient2 {
    position: absolute;
    width: 408px;
    height: 227px;
    left: -65px;
    top: 220px;

    background: #FFFFFF;
    filter: blur(50px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.frame2 .gradient3 {
    box-sizing: border-box;

    position: absolute;
    width: 316px;
    height: 273px;
    left: 0px;
    top: 0px;

    filter: blur(2px);
    border-radius: 21px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}